:root {
  --main-bg-color: #3A604973;
  --cardback-color: #092E25;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


body {
  background-image: url(image/bgs/green.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
  /* background-attachment: fixed; */
  margin: 48px 24px 0px 24px;
}

body {
  background-color: #032B2B;
  color: white;
  font-family: Pretendard;
}

/* 그리드 설계 */
.grid-1 {
  display: grid;
  width: fit-content;
  max-width: 900px;
  margin: auto;
  z-index: 1;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 8px;

  grid-template-areas:
    "t        t       t"
    "d10      d11     d12"
    "d13      d14     d15"
    "d16      d17     d18"
    "d19      d20     d21"
    "d22      d23     d24"
    "d25      d25     d25";
}


@media only screen and (min-width: 500px) {

  .grid-1 {
    /* 너비를 기준으로 높이를 계산 */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "t     t     t     d10     d11"
      "t     t     t     d12     d13"
      "d14   d15   d16   d17     d18"
      "d19   d20   d21   d25     d25"
      "d22   d23   d24   d25     d25";
  }

}

/* flex 속성 */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-baseline {
  align-items: baseline;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: center;
  grid-area: t;
}

.title img {
  width: 90%;
  height: auto;
  margin-bottom: 8px;
}

/* 그리드 별 배경 이미지 */
.day-10 {
  grid-area: d10;
  background: url("image/newcard/CandyStick.png");
  background-color: var(--main-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border: 2px;
  border-radius: 5px;
  border-color: #13482A;

}

.day-10 .back {
  background-image: url("image/smalltree.png");
  background-position: center center;
  background-color: var(--cardback-color);
  background-repeat: no-repeat;
  border-radius: 5px;
}

.day-11 {
  grid-area: d11;
  background: url("image/newcard/Snowman.png");
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: 97%;
  background-position: center;
  border-radius: 5px;

}

.day-11 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--cardback-color);
  background-size: cover;
  border-radius: 5px;
}

.day-12 {
  grid-area: d12;
  background: url("image/newcard/Bell.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-size: 90%;
  background-position: center;
  border-radius: 5px;

}

.day-12 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-13 {
  grid-area: d13;
  background: url("image/newcard/Cookie.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 95%;
  border-radius: 5px;

}

.day-13 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-14 {
  grid-area: d14;
  background: url("image/newcard/Snowflake.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-14 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-15 {
  grid-area: d15;
  background: url("image/newcard/Cherry.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-15 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-16 {
  grid-area: d16;
  background: url("image/newcard/SantaCap.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 90%;
  border-radius: 5px;

}

.day-16 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-17 {
  grid-area: d17;
  background: url("image/newcard/Candy.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-17 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-18 {
  grid-area: d18;
  background: url("image/newcard/HoHoHo.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 90%;
  border-radius: 5px;

}

.day-18 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-19 {
  grid-area: d19;
  background: url("image/newcard/Candle.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-19 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-20 {
  grid-area: d20;
  background: url("image/newcard/ChristmasTree.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-20 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-21 {
  grid-area: d21;
  background: url("image/newcard/Sock.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-21 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-22 {
  grid-area: d22;
  background: url("image/newcard/HandGlove.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 90%;
  border-radius: 5px;

}

.day-22 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-23 {
  grid-area: d23;
  background: url("image/newcard/Bells.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

.day-23 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-24 {
  grid-area: d24;
  background: url("image/newcard/Gift.png");
  background-repeat: no-repeat;
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 85%;
  border-radius: 5px;

}

.day-24 .back {
  background-image: url("image/smalltree.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.day-25 {
  grid-area: d25;
  background: url("image/newcard/Merry.png");
  background-color: var(--main-bg-color);
  background-position: center;
  background-size: 28%;
  background-repeat: no-repeat;
  border-radius: 5px;

}

.day-25 .back {
  background-image: url("image/newcard/Merry.png");
  background-repeat: no-repeat;
  background-color: var(--cardback-color);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

/* door styles */
.grid-1 input {
  display: none;
}

label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

/* 카드 앞면 */
.door {
  width: 100%;
  transform-style: preserve-3d;
  transition: all 300ms;
  border-radius: 5px;
}

.date-num {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  font-size: 14px;
}

/* 카드 뒷면 */
.door div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

  border-radius: 6px;
  font-size: 1.2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}


/* 카드 뒤집기 애니메이션 */
.door .back {
  background-size: 97%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

:checked+.door {
  transform: rotateY(180deg);
}

/* 확대 및 회전 애니메이션 */
@keyframes zoomAndRotate {
  from {
    transform: scale(0) rotateY(0deg);
  }

  to {
    transform: scale(1) rotateY(360deg);
  }
}

/* 애니메이션 적용 */
.zoomIn {
  animation: zoomAndRotate 0.5s ease forwards;
}

.hidden {
  visibility: hidden;
}

.modal {
  font-family: SlowSlow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  width: 340px;
  height: fit-content;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 이미지와 텍스트가 있는 카드를 위한 스타일 */
.modal-content div {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 12px;
}

.modal-content p {
  width: 300px;
  color: black;
  margin-top: 20px;
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
  font-size: 22px;
  word-break: keep-all;
}